#jussi-session {
  background: linear-gradient(90deg, var(--white) 50%, var(--gray) 50%);
  
  display: flex;
  justify-content: space-between;

  .container-1 {
    width: 17vw;

    .paragraph {
      margin: 24px 0px;
    }
  }


  @media only screen and (max-width: 1200px) {
    .container-1 {
      width: 30vw;
    }

    .container-2 {
      align-items: stretch;

      span {
        width: 40vw !important;
        height: 100% !important;

        img {
          object-fit: cover !important;
        }
      }
    }
  }
  

  @media only screen and (max-width: 768px) {
    background: var(--gray);

    .container-1 {
      width: 100%;
    }

    .container-2 {
      display: none;
    }
  }
}