#new-letter {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 136px 24vw;
  text-align: center;

  input {
    margin: 24px 0px 0px 0px;
  }

  @media only screen and (max-width: 1024px) {
    padding: 136px 10vw;
  }
}