.layout-footer {
  background-color: var(--black);
  padding: 2vh 10vw;
  display: flex;
  justify-content: space-between;

  &__container-right {
    a {
      margin-left: 16px;

      &:hover {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
      }
    }
  }
}