#layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2vh 2vw;
  width: 95vw;
  background-color: var(--white);
  border-bottom: 2px solid var(--gray);
  z-index: 2;

  .container-1 {
    display: flex;
    align-items: center;

    a {
      margin-left: 32px;

      &:nth-of-type(1) {
        margin-left: 0px;
      }
    }
  }

  .container-2 {
    display: flex;
    align-items: center;

    a {
      margin: 0px 32px;
    }
  }

  .container-3 {
    display: none;
  }

  @media only screen and (max-width: 1024px) {
    padding: 1vh 4vw;
    width: 92vw;

    .hide-mobile {
      display: none;
    }
    
    .container-1 {
      img {
        height: 24px !important;
      }
    }
    
    .container-3 {
      display: flex;

      .hamburguer-label {
        padding-left: 16px;
      }
    }
  }
}