.search-contianer {
  background: var(--white);
  box-sizing: border-box;
  position: relative;
  padding: 2px 16px;

  display: flex;
  align-items: center;

  .placeholder  {
    position: absolute;
    z-index: 3;
  }

  .dinamic-border-input {
    border: 1px solid var(--gray);
    border-radius: 24px;
    position: absolute;
    margin: -16px;
    width: 100%;
    height: 100%;
  }

  input {
    border: none;
    padding: 6px 0px;
    z-index: 2;

    &::placeholder {
      color: var(--pink-jussi);
    }

    &:focus,
    &:not([value=""]){
      &~ .placeholder {
        display: none;
      }

      &~ .dinamic-border-input {
        border: 1px solid var(--pink-jussi);
      }
    }
  }

  &:hover {
    .dinamic-border-input {
      border: 1px solid var(--pink-jussi);
    }
  }

  
  .link-icon {
    margin: 0 !important;
    z-index: 3;
    transition: ease-in-out all 300ms;
    &:hover {
      filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(-400deg) brightness(119%) contrast(119%);
    }
  }
}
