.search-contianer {
  background: var(--white);
  border: 2px solid var(--gray);
  box-sizing: border-box;
  border-radius: 24px;
  position: relative;
  padding: 2px 16px;

  display: flex;
  align-items: center;

  .placeholder  {
    position: absolute;
  }

  input {
    border: none;
    padding: 6px 0px;
  }

  &:hover {
    border: 2px solid var(--pink-jussi);
  }
}