#our-solutions {
  .container-box {
    width: 16vw;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    border-radius: 4;
    padding: 16px;
  }

  .circle-avatar {
    background-color: var(--gray);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 56px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    margin-bottom: 16px;  
  }

  ul {
    margin: 0px 0px 16px 16px;
  }

  
  @media only screen and (max-width: 1024px) {
    .container-box {
      flex: 1 0 34%;
      margin: 0px 16px 16px 0px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .container-box {
      flex: 1 0 51%;
      margin: 0;
    }
  }
}
