.button {
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid;
  box-sizing: border-box;
  white-space: nowrap;
  transition: 300ms ease-in-out all;

  &:hover {
    cursor: pointer;
    filter: invert(1);
  }
}

.default {
  border-color: var(--black);
  color: var(--black);
  background-color: transparent;

  &:hover {
    background-color: var(--white);
  }
}

.primary {
  border-color: var(--green-jussi);
  color: var(--black);
  background-color: var(--green-jussi);
}

.secondary {
  border-color: var(--pink-jussi);
  color: var(--pink-jussi);
  background-color: transparent;
  border-radius: 24px;
}

.text-button {
  border-color: transparent;
  color: var(--green-jussi);
  background-color: transparent;
  text-transform: uppercase;
}