#hero-banner {
  background-color: var(--green-jussi);
  display: flex;
}

#hero-banner .container-1 {
  width: 40vw;
}

#hero-banner .container-1 .paragraph {
  margin: 16px 0px 44px 0px;
}

#hero-banner .container-2 {
  width: 40vw;
  position: relative;
}

#hero-banner .container-cards {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

